:host {
  .field-wrapper {
    display: flex;
    flex-direction: column;
    padding: 24px 48px;

    .tip {
      margin-bottom: 24px;
    }

    .form-field {
      margin-bottom: 16px;
    }

    .form-field:last-child {
      margin-bottom: 0;
    }
  }

  @media screen and (max-width: 768px) {
    .field-wrapper {
      padding: 0 48px;
    }
  }
}

.error-text {
  color: #f44336;
  font-size: 13px;
  font-weight: 500;
}

swiper-container {
  width: 100%;
  height: 210px;
}
swiper-slide {
  width: auto;
}
