.groups-carousel {
  width: 95%;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.workspace-summary-image {
  width: 700px;
  height: 500px;
}

swiper-slide {
  width: auto;
}
